extends ../base/base.pug
block layout
  include ./navigation.pug
  include ../partials/header.pug
  main
    include ./section-about.pug
    include ./section-skills.pug
    include ./section-course.pug
    include ./testimonial.pug
    include ./section-enroll.pug
  include ../partials/footer.pug