
// Section-about
section.section-about.u-margin-bottom-big
    .u-center-text.u-margin-bottom-small
        h2.heading-secondary
            | story about us
    .section-about__content
        .col-1-of-2.u-margin-bottom-small
            h3.heading-tertiary
                | from zero to hero
            p.paragraph
                | Lorem ipsum dolor sit amet,
                | consectetur adipisicing elit.
                | Fuga cumque autem officiis distinctio,
                | voluptate qui minima.
                | Magnam tenetur suscipit eius beatae dolore nihil
                | repudiandae atque vero,
                | rem, labore ullam ipsa incidunt enim id necessitatibus at dolor! Incidunt sequi nihil amet.
            h3.heading-tertiary
                | master your skills
            p.paragraph
                | Lorem ipsum dolor sit amet,
                | consectetur adipisicing elite.
            a.btn-text(href='#') Learn more &rarr;
        .section-image
            .composition
                img.composition__photo.composition__photo--p1(src='./assets/images/background1.jpg' alt='photo1')
                img.composition__photo.composition__photo--p2(src='./assets/images/background1.jpg' alt='photo2')
                img.composition__photo.composition__photo--p3(src='./assets/images/background1.jpg' alt='photo3')




//- mixin sidebar-item(item)
//-     img(src=item.src, alt=item.alt)

//-  - const image = [
//-                     {"src": "./assets/images/background1.jpg", "alt":"photo1"},
//-                     {"src": "./assets/images/background1.jpg", "alt":"photo1"},
//-                     {"src": "./assets/images/background1.jpg", "alt":"photo1"},
//-                 ]
//-                 for i in image
//-                     +siderbar-item(i)
